<?xml version="1.0"?>
<robot name="rm_adapter" xmlns:xacro="http://ros.org/wiki/xacro">
<link name="adapter">
    <inertial>
      <origin xyz="0.045819 6.35930000824774E-09 0.0848461" rpy="0 0 0" />
      <mass value="0.13853" />
      <inertia ixx="4.2971E-05" ixy="4.08989999999764E-11" ixz="3.8593E-07"
        iyy="0.00023364" iyz="1.36420000025386E-11" izz="0.0002751" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh filename="file://$(find rm_eco65_gripper)/meshes/rm_vision_adapter/Unnamed-camera_adapter.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh filename="file://$(find rm_eco65_gripper)/meshes/rm_vision_adapter/Unnamed-camera_adapter.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  </robot>