<!-- <?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm_eco65_description">
    <xacro:include filename="$(find rm_description)/urdf/rm_eco65_gazebo.urdf.xacro" >
    </xacro:include>

    <gazebo reference="baselink">
        <self_collide>false</self_collide>
        <gravity>false</gravity>
    </gazebo>
    <gazebo reference="link1">
        <material>Gazebo/Purple</material>
        <self_collide>false</self_collide>
        <gravity>false</gravity>
    </gazebo>
    <gazebo reference="link2">
        <material>Gazebo/Red</material>
        <gravity>false</gravity>
    </gazebo>
    <gazebo reference="link3">
        <material>Gazebo/Blue</material>
        <gravity>false</gravity>
    </gazebo>
    <gazebo reference="link4">
        <material>Gazebo/Green</material>
        <gravity>false</gravity>
    </gazebo>
    <gazebo reference="link5">
        <material>Gazebo/Yellow</material>
        <gravity>false</gravity>
    </gazebo>
    <gazebo reference="link6">
        <material>Gazebo/Orange</material>
        <gravity>false</gravity>
    </gazebo>


    <gazebo>
        <is_static>true</is_static>
        <self_collide>true</self_collide>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="joint1">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint2">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint3">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint4">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint5">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint6">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>
 -->

<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rm65_transmission" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint_name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  <xacro:rm65_transmission joint_name="joint1" />
  <xacro:rm65_transmission joint_name="joint2" />
  <xacro:rm65_transmission joint_name="joint3" />
  <xacro:rm65_transmission joint_name="joint4" />
  <xacro:rm65_transmission joint_name="joint5" />
  <xacro:rm65_transmission joint_name="joint6" />
</robot>